<div class="jumbotron">
        <h1>Git批处理文件生成</h1>
        <p class="lead">Git批量克隆、更新、重置</p>
        <a class="btn btn-large btn-success" href="#/forms/create">开始创建!</a>
    </div>

    <hr>

    <div class="row marketing" style="text-align: center">
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&repo=git-batch-file-builder&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&repo=git-batch-file-builder&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=selmanh&type=follow&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="30"></iframe>
    </div>